@{
    ViewBag.Title = "Planetas";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Listado de planetas</h1>
    <div class="seccion_1" id="s1">
        @for (int planeta = 0; planeta < ViewBag.planetas.Count; ++planeta)
        {
            <hr />
            <h2>Ficha del planeta: @ViewBag.planetas[planeta].id</h2>
            <p>Nombre: @ViewBag.planetas[planeta].nombre</p>
            <p>Tipo: @ViewBag.planetas[planeta].tipo</p>
            <p>Número de anillos: @ViewBag.planetas[planeta].numeroAnillos</p>
            <hr />
        }
    </div>
</body>
</html>